* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.logo {
  height: 40px;
  background-color: #fefefe;
  display: flex;
  align-items: center;
  color: #787878;
  padding: 0 0 0 15px;
}

.ln-text {
  font-weight: bold;
  padding-left: 5px;
  text-transform: uppercase;
  color: #787878;
}

.head-text {
  font-weight: 100;
}

/* FIRST CONTAINER STARTS */

.first-container {
  height: 500px;
  width: 100%;
  background-color: #42b9fd;
  display: flex;
}
.left-cube {
  width: 65%;
  padding: 90px;
  flex: 0 0 65%;
  color: white;
}

.head-text {
  padding: 0 0 11px 0;
}

.right-cube {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 35%;
  flex: 0 0 33%;
  color: white;
}

.right-cube .interested-container {
  width: 300px;
  height: 400px;
  background-color: #57bdfb;
  /* opacity: 0.7; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.myForm {
  margin: 15px 0 0 0;
}
.myForm input {
  width: 200px;
  height: 30px;
  border: none;
}
.myForm label {
  font-size: 12px;
}
.submit-btn {
  background-color: #ffa535;
  color: white;
  opacity: none;
  margin: 15px 0 0 0;
  cursor: pointer;
}
.l-text {
  font-size: 12px;
  margin: 10px 0 0 0;
}

/* SERVICES CONTAINER STARTS */

.services-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 350px;
  background-color: whitesmoke;
  text-align: center;
}
.ser-box-style {
  width: 200px;
  color: #787878;
}
.serices-img {
  width: 70px;
  height: 70px;
  padding: 0 0 20px 0;
}
.services-container h2 {
  font-size: 18px;
  font-weight: 100;
}
.services-container p {
  font-size: 13px;
  font-weight: 100;
  margin: 10px 0 0 0;
}

/* About SETTINGS STARTS */

.about-container {
  width: 100%;
  background-color: #f1f1f1;
}
.ceo-box {
  /* margin: 100px; */
  padding: 85px;
  text-align: center;
}
.person-img {
  width: 70px;
  height: 70px;
}
.about-container .ceo-box p {
  padding: 0 0 20px 0;
}
hr {
  width: 100px;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: #fff;
  color: #787878;
}
footer .footer-container a {
  font-size: 0.9rem;
  text-decoration: none;
  color: #787878;
}

/* MOBILE SETTINGS STARTS */
@media only screen and (max-width: 640px) {
  header .logo {
    display: flex;
    justify-content: center;
  }
  .first-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 30px;
    height: auto;
  }
  .left-cube {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .left-cube p {
    font-size: 0.9rem;
    text-align: center;
  }
  .head-text {
    font-size: 25px;
    font-weight: 100;
    text-align: center;
  }
  .right-cube .interested-container {
    margin-top: 15px;
  }
  .right-cube {
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 0;
    height: 300px;
  }
  .services-container {
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: flex-start;
    padding: 30px;
    text-align: left;
  }
  .ser-box-style {
    margin: 20px;
    width: 100%;
  }
  .serices-img {
    padding: 0 0 8px 0;
  }
  .about-container {
    width: 100%;
  }
  .person-img {
    width: 70px;
    height: 70px;
  }
  .ceo-box {
    padding: 0;
    margin: 0;
    height: 300px;
    line-height: 1.3rem;
    font-size: 0.9rem;
    font-weight: 100;
    color: #787878;
  }
  footer {
    padding: 10px;
    font-size: 1rem;
  }
}

/* TABLET SETTINGS STARTS */
@media (min-width: 768px) and (max-width: 1024px) {
}
